body {
  background-color:#000009;
}

title {
  color:#fffff1;
  margin-left: 10px;
}

h1 {
  border-left: 10px solid #0BBFFF;
}

h2 {
  border-left: 10px solid #0000FF;
}

h3 {
  border-left: 10px solid #00008B;
}

body {
  color:#fffff1;
  margin-left: 20px;
}
